@charset "utf-8";
/* CSS Document */

/****** Generic *******/
body#home, body#error404{
    background:#0000aa;
    color:#ffffff;
    font-family:courier;
    font-size:12pt;
    text-align:center;
    margin:100px;
}

body#generic {
    background:#0000aa;
    color:#ffffff;
    font-family:courier;
    font-size:12pt;
    text-align:center;
    margin:100px;
}

blink {
    color:yellow;
}

.neg {
    background:#fff;
    color:#0000aa;
    padding:2px 8px;
    font-weight:bold;
}

p {
    margin:30px 100px;
    text-align:left;
}

p.center {
    text-align:center;
}

a,a:hover {
    color:inherit;
    font:inherit;
	text-decoration: none;
}

/****** Windows 8 *******/
body#win8 {
  background:#55caff;
  color:#ffffff;
  font-family:Segoe UI;
  font-size:12pt;
  text-align:center;
  margin: 100px 15% 100px 15%;
}

#sadface {
  display: block;
  width: 100%;
  height:219px;
  margin:30px 100px;
  background-image: url('/images/sadface.png');
  background-repeat: no-repeat;
}
p#win8topblock {
  font-size: 35px;
  margin-bottom: 0px;
}

p#win8errorblock {
  margin-top: 15px;
}